@import "tailwindcss";
.admin-input {
  @apply w-full bg-white/20 border border-white/30 rounded-xl px-4 py-3 
  text-white placeholder-gray-300 outline-none
  focus:border-cyan-400 focus:ring-2 focus:ring-cyan-400/40 transition;
}

.admin-label {
  @apply text-sm text-gray-300 mb-1;
}
.admin-input {
  @apply w-full bg-white/20 border border-white/30 rounded-xl px-4 py-3 
  text-white placeholder-gray-300 outline-none
  focus:border-cyan-400 focus:ring-2 focus:ring-cyan-400/40 transition;
}

/* ADD THIS */
.admin-input option {
  background-color: #0f172a; /* dark slate */
  color: white;
}
.admin-label {
  @apply text-sm text-gray-300 mb-1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
